extends layout
block content
  .container
    .row
      each noticia in noticias 
        .col-lg-4.col-md-6
          .card.h-100
            .single-post.post-style-2.post-style-3
              .blog-info
                if noticia.subtitulo
                  h6.pre-title
                    a(href='#')
                      b= noticia.subtitulo
                h4.title
                  a(href='#')
                    b= noticia.titulo
                p= noticia.texto
                .avatar-area
                  //- a.avatar(href='#')
                  //-   img(src='images/icons8-team-355979.jpg', alt='Profile Image')
                  .right-area
                    a.name(href='#')
                      b= noticia.autor
                    h6.date(href='#')= noticia.data
                //- ul.post-footer
                //-   li
                //-     a(href='#')
                //-       i.ion-heart
                //-       | 57
                //-   li
                //-     a(href='#')
                //-       i.ion-chatbubble
                //-       | 6
                //-   li
                //-     a(href='#')
                //-       i.ion-eye
                //-       | 138